<div class="banner">
  <div class = "tag_line">
   <h1>When Two Weeks Feels Like Sabbatical</h1>
  </div>
  <div class= "banner-content">
    <h2> -Bespoke Travel- </h2>
 </div>
<div class = "button" >
  <a href="question_path" class = "button"> Take me there...</a>
</div>
</div>
