<div class="banner">
  <div class="tag_line">
   <h1>When Two Weeks Feels Like Sabbatical</h1>
  </div>
  <div class="banner-content">
    <h2> -Bespoke Travel- </h2>
  </div>
  <div>
   <%= link_to "Take me there...", question_path(id: 1), class: "button" %>
 </div>



</div>
