<div class="banner_two">
  <div class = "banner_two_header">
   <h1>What to expect</h1>
  </div>
   <div class="banner_two_content">
   <p>

CHOOSE THROUGH:

SURF
YOGA
LIFE COACHING
DETOX
PHYSICAL CHALLENGE
BEACH TIME




  </p>

 </div>
</div>
