<div class="banner">
  <div class="banner-content">
   <h1>When Two Weeks Feels Like Sabbatical</h1>
   <h2> -Bespoke Travel- </h2>
   <%= link_to "Take me there...", question_path(id: 1), class: "button" %>
 </div>
</div>
