<div class="banner">
  <div class = "tag_line">
   <h1>When Two Weeks Feels Like Sabbatical</h1>

   <h2> -Bespoke Travel- </h2>
   <%= link_to "Take me there...", question_path(id: 1), class: "button" %>
 </div>
<div class = "button" >
  <a href="question_path" class = "button"> Take me there...</a>
</div>
</div>
