

<div class="banner">
  <div class="banner-content">
   <h1>When Two Weeks Feels Like Sabbatical</h1>
   <h2> -Bespoke Travel- </h2>
   <a href="question_path" class = "button"> create new</a>
 </div>
</div>
