.banner_two {

  background-image: asset-url('surfergirl.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  height: 800px;
  color: #ffffff;
  padding-top: 100px;
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


h1{
  top: 80px;
  left: 20px;
  margin-top: 0px;
  margin-bottom:20px;
  padding:80px;
 font-size:75px;
 font-family: 'Karla', sans-serif;
 line-height: 140px;
}
